<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kaikei.Properties.Settings.KaikeiConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Kaikei;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>